<script>
	$(document).ready(function() {
		$('#stab').DataTable( {
			searching: false,
			info: false,
			paging: false,
			columnsDefs: [
				null,
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				null
			]
		} );
		$('#ctab').DataTable( {
			searching: false,
			info: false,
			paging: false,
			columnsDefs: [
				null,
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				null
			]
		} );
		$('#chtab').DataTable( {
			searching: false,
			info: false,
			paging: false,
			columnsDefs: [
				null,
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				null
			]
		} );
		$('#untab').DataTable( {
			searching: false,
			info: false,
			paging: false,
			columnsDefs: [
				null,
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				{ "sType": "numeric" },
				null
			]
		} );
		$(".link-row").click(function() {
       		window.location = $(this).data("href");
    	});
	});
</script>
<div class="container">
	<div class="row mt-4">
		<table class="table table-sm table-bordered text-center">
			<thead>
				<th>In Method</th>
				<th>Out Method</th>
				<th>Reactions</th>
				<th>Facility</th>
				<th>Rig</th>
				<th>Space</th>
				<th>System</th>
				<th>IndyTax</th>
				<th>Build Time</th>
			</thead>
			<tbody>
				<tr class="">
					<td>{{sett.input}}</td>
					<td>{{sett.output}}</td>
					<td>Level {{sett.skill}}</td>
					<td>{{sett.facility}} Refinery</td>
					<td>T{{sett.rig}} Rig</td>
					<td>{{sett.space}}sec</td>
					<td>{{sett.system}}</td>
					<td>{{sett.indyTax}}</td>
					<td>{{sett.duration}} Minutes</td>
				</tr>
			</tbody>
    	</table>
	</div>
	<div class="row mt-3">
		<div class="card w-100">
			<div class="card-header bg-info text-white text-center w-100">
				Simple Reactions
			</div>
			<table width="100%" id="stab" class="table table-bordered text-center">
				<thead>
					<th>Reaction</th>
					<th>Inputs</th>
					<th>Tax</th>
					<th>Output</th>
					<th>Profit</th>
					<th>% prof.</th>
				</thead>
				<tbody>
					{{#stable}}
						<tr class="text-white {{#if pos}}bg-success{{/if}}{{#if neg}}bg-danger{{/if}} link-row" data-href='/composite/{{id}}'>
							<td>{{name}}</td>
							<td class="isk">{{i}}</td>
							<td class="isk">{{tax}}</td>
							<td class="isk">{{o}}</td>
							<td class="isk">{{prof}}</td>
							<td>{{per}}</td>
						</tr>
					{{/stable}}
				</tbody>
			</table>
		</div>

		<div class="card w-100 mt-3">
			<div class="card-header bg-info text-white text-center w-100">
				Complex Reactions
			</div>
			<table width="100%" id="ctab" class="table table-bordered text-center">
				<thead>
					<th>Reaction</th>
					<th>Inputs</th>
					<th>Tax</th>
					<th>Output</th>
					<th>Profit</th>
					<th>% prof.</th>
				</thead>
				<tbody>
					{{#ctable}}
						<tr class="text-white {{#if pos}}bg-success{{/if}}{{#if neg}}bg-danger{{/if}} link-row" data-href='/composite/{{id}}'>
							<td>{{name}}</td>
							<td class="isk">{{i}}</td>
							<td class="isk">{{tax}}</td>
							<td class="isk">{{o}}</td>
							<td class="isk">{{prof}}</td>
							<td>{{per}}</td>
						</tr>
					{{/ctable}}
				</tbody>
			</table>
		</div>
		
		<div class="card w-100 mt-3">
			<div class="card-header bg-info text-white text-center w-100">
				Complex Chain Reactions
			</div>
			<table width="100%" id="chtab" class="table table-bordered text-center">
				<thead>
					<th>Reaction</th>
					<th>Inputs</th>
					<th>Tax</th>
					<th>Output</th>
					<th>Profit</th>
					<th>% prof.</th>
				</thead>
				<tbody>
					{{#chtable}}
						<tr class="text-white {{#if pos}}bg-success{{/if}}{{#if neg}}bg-danger{{/if}} link-row" data-href='/composite/{{id}}?chain=true'>
							<td>{{name}}</td>
							<td class="isk">{{i}}</td>
							<td class="isk">{{tax}}</td>
							<td class="isk">{{o}}</td>
							<td class="isk">{{prof}}</td>
							<td>{{per}}</td>
						</tr>
					{{/chtable}}
				</tbody>
			</table>
		</div>	

		<div class="card w-100 mt-3">
			<div class="card-header bg-info text-white text-center w-100">
				Unrefined Reactions (not reprocessed)
			</div>
			<table width="100%" id="untab" class="table table-bordered text-center">
				<thead>
					<th>Reaction</th>
					<th>Inputs</th>
					<th>Tax</th>
					<th>Output</th>
					<th>Profit</th>
					<th>% prof.</th>
				</thead>
				<tbody>
					{{#untable}}
						<tr class="text-white {{#if pos}}bg-success{{/if}}{{#if neg}}bg-danger{{/if}} link-row"  data-href='/composite/{{id}}'>
							<td>{{name}}</td>
							<td class="isk">{{i}}</td>
							<td class="isk">{{tax}}</td>
							<td class="isk">{{o}}</td>
							<td class="isk">{{prof}}</td>
							<td>{{per}}</td>
						</tr>
					{{/untable}}
				</tbody>
			</table>
		</div>	
	</div>
</div>
