<div class="container">
	<div class="row mt-5">
		<table class="table">
        <thead>
            <th scope="col">Reaction</th>
            <th scope="col">Chain ?</th>
            <th scope="col">Inputs</th>
            <th scope="col">Tax</th>
            <th scope="col">Output</th>
            <th scope="col">Profit</th>
            <th scope="col">% prof</th>
        </thead>
        <tbody>
            {{#table}}
                <tr class="text-white {{#if pos}}bg-success{{/if}}{{#if neg}}bg-danger{{/if}}">
                    <td>{{name}}</td>
                    <td>{{chain}}</td>
                    <td>{{i}}</td>
                    <td>{{tax}}</td>
                    <td>{{o}}</td>
                    <td>{{prof}}</td>
                    <td>{{per}}</td>
                </tr>
            {{/table}}
        </tbody>
    </table>
	</div>
</div>
