<div class="container">
	<div class="row mt-4">
		<div class="col-lg-8">
			<h4 class="">New Settings:</h3>
			<form class="mt-4" action="/settings/set" method="get">
				<div class="form-group row">
					<label class="col-4">Input Method</label> 
					<div class="col-8">
					<label class="custom-control custom-radio">
						<input name="input" type="radio" class="custom-control-input" value="sell" aria-describedby="inputHelpBlock" required="required" {{#ifCond sett.input 'sell'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Sell order</span>
					</label>
					<label class="custom-control custom-radio">
						<input name="input" type="radio" class="custom-control-input" value="buy" aria-describedby="inputHelpBlock" required="required" {{#ifCond sett.input 'buy'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Buy order</span>
					</label> 
					<span id="inputHelpBlock" class="form-text text-muted">How you are getting your input materials</span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4">Output Method</label> 
					<div class="col-8">
					<label class="custom-control custom-radio">
						<input name="output" type="radio" class="custom-control-input" value="sell" aria-describedby="outputHelpBlock" required="required" {{#ifCond sett.output 'sell'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Sell order</span>
					</label>
					<label class="custom-control custom-radio">
						<input name="output" type="radio" class="custom-control-input" value="buy" aria-describedby="outputHelpBlock" required="required" {{#ifCond sett.output 'buy'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Buy order</span>
					</label> 
					<span id="outputHelpBlock" class="form-text text-muted">How you are selling your output materials</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="skill" class="col-4 col-form-label">Reactions Skill Level</label> 
					<div class="col-8">
					<select id="skill" name="skill" class="custom-select" aria-describedby="skillHelpBlock" required="required">
						<option value="0" {{#ifCond sett.skill '0'}}selected="selected"{{/ifCond}}>0</option>
						<option value="1" {{#ifCond sett.skill '1'}}selected="selected"{{/ifCond}}>1</option>
						<option value="2" {{#ifCond sett.skill '2'}}selected="selected"{{/ifCond}}>2</option>
						<option value="3" {{#ifCond sett.skill '3'}}selected="selected"{{/ifCond}}>3</option>
						<option value="4" {{#ifCond sett.skill '4'}}selected="selected"{{/ifCond}}>4</option>
						<option value="5" {{#ifCond sett.skill '5'}}selected="selected"{{/ifCond}}>5</option>
					</select> 
					<span id="skillHelpBlock" class="form-text text-muted">What is your reactions skill level at</span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4">Facility Size</label> 
					<div class="col-8">
					<label class="custom-control custom-radio">
						<input name="facility" type="radio" class="custom-control-input" value="med" aria-describedby="facilityHelpBlock" required="required" {{#ifCond sett.facility 'med'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Medium</span>
					</label>
					<label class="custom-control custom-radio">
						<input name="facility" type="radio" class="custom-control-input" value="large" aria-describedby="facilityHelpBlock" required="required" {{#ifCond sett.facility 'large'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Large</span>
					</label> 
					<span id="facilityHelpBlock" class="form-text text-muted">Are you using a med or large refinery</span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4">Rigs installed</label> 
					<div class="col-8">
					<label class="custom-control custom-radio">
						<input name="rigs" type="radio" class="custom-control-input" value="0" aria-describedby="rigsHelpBlock" required="required" {{#ifCond sett.rig '0'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">None</span>
					</label>
					<label class="custom-control custom-radio">
						<input name="rigs" type="radio" class="custom-control-input" value="1" aria-describedby="rigsHelpBlock" required="required" {{#ifCond sett.rig '1'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Tech 1</span>
					</label>
					<label class="custom-control custom-radio">
						<input name="rigs" type="radio" class="custom-control-input" value="2" aria-describedby="rigsHelpBlock" required="required" {{#ifCond sett.rig '2'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Tech 2</span>
					</label> 
					<span id="rigsHelpBlock" class="form-text text-muted">Does your facility have any rigs for reactions?</span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4">Type of space?</label> 
					<div class="col-8">
					<label class="custom-control custom-radio">
						<input name="space" type="radio" class="custom-control-input" value="null" aria-describedby="spaceHelpBlock" required="required" {{#ifCond sett.space 'null'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Nullsec</span>
					</label>
					<label class="custom-control custom-radio">
						<input name="space" type="radio" class="custom-control-input" value="low" aria-describedby="spaceHelpBlock" required="required" {{#ifCond sett.space 'sell'}}checked{{/ifCond}}> 
						<span class="custom-control-indicator"></span> 
						<span class="custom-control-description">Lowsec</span>
					</label> 
					<span id="spaceHelpBlock" class="form-text text-muted">Are you doing reactions in Nullsec or Lowsec?</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="system" class="col-4 col-form-label">System</label> 
					<div class="col-8">
					<div class="input-group">
						<div class="input-group-addon">
						<i class="fa fa-home"></i>
						</div> 
						<input id="system" name="system" placeholder="Basgerin" type="text" value="{{sett.system}}" class="form-control here" aria-describedby="systemHelpBlock" required="required">
					</div> 
					<span id="systemHelpBlock" class="form-text text-muted">What system are you doing reactions in? used to calculate cost index</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="indyTax" class="col-4 col-form-label">Industry Tax</label> 
					<div class="col-8">
					<div class="input-group">
						<input id="indyTax" name="indyTax" placeholder="0" type="number" step="0.01" value="{{sett.indyTax}}" class="form-control here" aria-describedby="indyTaxHelpBlock" required="required"> 
						<div class="input-group-addon append">%</div>
					</div> 
					<span id="indyTaxHelpBlock" class="form-text text-muted">What's your industry tax % ?</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="duration" class="col-4 col-form-label">Batch build time</label> 
					<div class="col-8">
					<div class="input-group">
						<input id="duration" name="duration" placeholder="10080" type="number" value="{{sett.duration}}" class="form-control here" aria-describedby="durationHelpBlock" required="required"> 
						<div class="input-group-addon append">Minutes</div>
					</div> 
					<span id="durationHelpBlock" class="form-text text-muted">Time in minutes each of your jobs is going to run for</span>
					</div>
				</div> 
				<div class="form-group row">
					<div class="offset-4 col-8">
					<button name="submit" type="submit" class="btn btn-primary">Save Settings</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-4">
			<h4 class="">Current Settings:</h4>
			<table class="table table-sm table-bordered mt-4">
				<tbody>
					<tr>
						<th>In Method</th>
						<td>{{sett.input}}</td>
					</tr>
					<tr>
						<th>Out Method</th>
						<td>{{sett.output}}</td>
					</tr>
					<tr>
						<th>Reactions</th>
						<td>Level {{sett.skill}}</td>
					</tr>
					<tr>
						<th>Facility</th>
						<td>{{sett.facility}} Refinery</td>
					</tr>
					<tr>
						<th>Rig</th>
						<td>T{{sett.rig}} Rig</td>
					</tr>
					<tr>
						<th>Space</th>
						<td>{{sett.space}}sec</td>
					</tr>
					<tr>
						<th>System</th>
						<td>{{sett.system}}</td>
					</tr>
					<tr>
						<th>IndyTax</th>
						<td>{{sett.indyTax}}</td>
					</tr>
					<tr>
						<th>Build Time</th>
						<td>{{sett.duration}} Minutes</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>